extends layout
block mainContent    
  div.center.margin2x
      - each article in articles
        #articles
          section.display-inline-block.border-radius2x(style="width: 400px;")
              div.article
                div.title 
                  h5
                    a(href="/blog/"+article._id)!= article.title
                div.created_at(style="font-size: 80%;color: #bbb")= article.created_at
                br
                div.body= article.body
  br